* text=auto eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mp4 binary
*.pdf binary
*.png binary
*.webp binary
*.woff2 binary

# Preserve upstream license text and SQL indentation emitted by Payload.
public/assets/fonts/29lt-bukra/License.txt whitespace=-blank-at-eol
src/migrations/*.ts whitespace=-space-before-tab
